{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  {% with subject=object.subject %}
    <div id="course-detail">
      <h1 class="course-title">
          {{ object.title }}
      </h1>
      <div class="image-container">
          <img src="{{ subject.logo.url }}" alt="Logo for {{ subject.title }}">
      </div>
      <h2 class="module-title">Overview</h2>
      <div class="module-overview">
          {{ object.overview|linebreaks }}
      </div>
      <p class="module-info">
          {{ object.modules.count }} modules. <br>
          Instructor: {{ object.owner.get_full_name }}
      </p>
      {% if request.user.is_authenticated %}
      <form action="{% url "student_enroll_course" %}" method="post" class="enroll-form">
          {{ enroll_form }}
          {% csrf_token %}
          <input type="submit" value="Enroll now" class="enroll-button">
      </form>
      {% else %}
      <a href="{% url "student_registration" %}" class="register-button">
          Register to enroll
      </a>
      {% endif %}
  </div>
  {% endwith %}
{% endblock %}