{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Заход</h1>
  <div class="module">
    {% if form.errors %}
      <p>Иди нахуй, долбаеб</p>
    {% else %}
      <p>Все пиши</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
      </form>
    </div>
  </div>
{% endblock %}