{% extends "base.html" %}
<!--{% load cache %}-->

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <h1>
    {{ module.title }} - ну это название темы короче...
  </h1>

<a href="{% url "student_course_detail" module.course.id %}"> back beetches </a>


<div class="module">
      {% for content in module.contents.all %}
        {% with item=content.item %}

          {% if item.title != None %}
            <h2>{{ item.title }}</h2>
              {{ item.render }}
          {% endif %}

        {% endwith %}
      {% endfor %}
  </div>


<a href="{{ request.path }}test/"> Проверить свои знания ...</a>

{% for question, form in forms %}
    {% if question.correct_answer == "None" %}
        <div>
        <p><strong>{{ question.text }}</strong></p>
            {% if form %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}  <!-- Здесь только поле для ввода кода -->
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <button type="submit">Отправить код</button>
                </form>
            {% else %}
                <p>Вы уже правильно ответили на этот вопрос.</p>
            {% endif %}
        </div>
    {% endif %}
    <h3>{{ question.expected_output }}</h3>
{% endfor %}

{% if result %}
    <h2>Результат выполнения кода:</h2>
    <h3>{{ result }}</h3>
{% endif %}
{% endblock %}