{% extends "base.html" %}

<h1>Модуль: {{ module.title }}</h1>

{% block content %}
            {% for question, form in forms %}
                {% if question.correct_answer != "None" %}
                    <div class="test">
                        <p><strong>{{ question.text }}</strong></p>
                        {% if form %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Check your ass</button>
                            </form>
                        {% else %}
                            <p>Вы уже ответили правильно на этот вопрос.</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% empty %}
                <h1>Вопросов пока нет...</h1>
            {% endfor %}

<!--    <p>{{ request.user.userprofile.points }}</p>-->
<a href="{% url "student_course_detail" module.course.id %}"> back beetches </a>
{% endblock %}